<div class="page-header">
  <h3><%=@user.email%>'s courses</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

   <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Course name</th>
        <th>Year Taken</th>
      </tr>
      <tbody>
      <% @grades.each do |grade|%>
      <tr>
      <td><%=Course.find(grade.course_id).course_name%></td>
      <td><%=grade.schoolyear%></td>
      </tr>
      <%end%>
      </tbody>
    </table>

    </dl>

    </div>
  </div>
</div>
